<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Demo</display-name>
  	<servlet>
		<description>
		</description>
		<display-name>RegistServlet</display-name>
		<servlet-name>RegistServlet</servlet-name>
		<servlet-class>com.demo.web.RegistServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserListServlet</display-name>
		<servlet-name>UserListServlet</servlet-name>
		<servlet-class>com.demo.web.UserListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserDeleteServlet</display-name>
		<servlet-name>UserDeleteServlet</servlet-name>
		<servlet-class>com.demo.web.UserDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserSaveServlet</display-name>
		<servlet-name>UserSaveServlet</servlet-name>
		<servlet-class>com.demo.web.UserSaveServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserList</display-name>
		<servlet-name>UserList</servlet-name>
		<servlet-class>com.demo.web.UserList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GoodsListServlet</display-name>
		<servlet-name>GoodsListServlet</servlet-name>
		<servlet-class>com.demo.web.GoodsListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GoodsDeleteServlet</display-name>
		<servlet-name>GoodsDeleteServlet</servlet-name>
		<servlet-class>com.demo.web.GoodsDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<servlet-name>GoodsSaveServlet</servlet-name>
		<servlet-class>com.demo.web.GoodsSaveServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProductsListServlet</display-name>
		<servlet-name>ProductsListServlet</servlet-name>
		<servlet-class>com.demo.web.ProductsListServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>ProductsListServlet</display-name>
		<servlet-name>SellersServlet</servlet-name>
		<servlet-class>com.demo.web.SellersServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
			</description>
		<display-name>ManufacturersServlet</display-name>
		<servlet-name>ManufacturersServlet</servlet-name>
		<servlet-class>com.demo.web.ManufacturersServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
			</description>
		<display-name>SuppliersServlet</display-name>
		<servlet-name>SuppliersServlet</servlet-name>
		<servlet-class>com.demo.web.SuppliersServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
			</description>
		<display-name>CheckUserServlet</display-name>
		<servlet-name>CheckUserServlet</servlet-name>
		<servlet-class>com.demo.web.CheckUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
			</description>
		<display-name>MaterialsServlet</display-name>
		<servlet-name>MaterialsServlet</servlet-name>
		<servlet-class>com.demo.web.MaterialsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
			</description>
		<display-name>StocksServlet</display-name>
		<servlet-name>StocksServlet</servlet-name>
		<servlet-class>com.demo.web.StocksServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
			</description>
		<display-name>Records_checkServlet</display-name>
		<servlet-name>Records_checkServlet</servlet-name>
		<servlet-class>com.demo.web.Records_checkServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
			</description>
		<display-name>TestGoodsServlet</display-name>
		<servlet-name>TestGoodsServlet</servlet-name>
		<servlet-class>com.demo.web.TestGoodsServlet</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>RegistServlet</servlet-name>
		<url-pattern>/RegistServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserListServlet</servlet-name>
		<url-pattern>/userList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDeleteServlet</servlet-name>
		<url-pattern>/userDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserSaveServlet</servlet-name>
		<url-pattern>/userSave</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserList</servlet-name>
		<url-pattern>/UserList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoodsListServlet</servlet-name>
		<url-pattern>/goodsList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoodsDeleteServlet</servlet-name>
		<url-pattern>/goodsDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoodsSaveServlet</servlet-name>
		<url-pattern>/goodsSave</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductsListServlet</servlet-name>
		<url-pattern>/productsList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SellersServlet</servlet-name>
		<url-pattern>/sellersServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManufacturersServlet</servlet-name>
		<url-pattern>/manufacturersServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SuppliersServlet</servlet-name>
		<url-pattern>/suppliersServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckUserServlet</servlet-name>
		<url-pattern>/checkUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MaterialsServlet</servlet-name>
		<url-pattern>/materialsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StocksServlet</servlet-name>
		<url-pattern>/stocksServlet</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>Records_checkServlet</servlet-name>
		<url-pattern>/records_checkServlet</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>TestGoodsServlet</servlet-name>
		<url-pattern>/testGoodsServlet</url-pattern>
	</servlet-mapping>
	 <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
