<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    	<servlet>
		<servlet-name>RegistServlet</servlet-name>
		<servlet-class>com.hdfscloud.servlet.RegistServlet</servlet-class>
	</servlet>
  	<servlet>
		<servlet-name>CheckUser</servlet-name>
		<servlet-class>com.hdfscloud.servlet.CheckUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.hdfscloud.servlet.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindFile</servlet-name>
		<servlet-class>com.hdfscloud.servlet.FindFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadFile</servlet-name>
		<servlet-class>com.hdfscloud.servlet.ReadFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchFile</servlet-name>
		<servlet-class>com.hdfscloud.servlet.SearchFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteFile</servlet-name>
		<servlet-class>com.hdfscloud.servlet.DeleteFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchType</servlet-name>
		<servlet-class>com.hdfscloud.servlet.SearchType</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadFile</servlet-name>
		<servlet-class>com.hdfscloud.servlet.DownloadFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>com.hdfscloud.servlet.Test</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateDirServlet</servlet-name>
		<servlet-class>com.hdfscloud.servlet.CreateDirServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckUser</servlet-name>
		<url-pattern>/CheckUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistServlet</servlet-name>
		<url-pattern>/RegistServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindFile</servlet-name>
		<url-pattern>/FindFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadFile</servlet-name>
		<url-pattern>/ReadFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchFile</servlet-name>
		<url-pattern>/SearchFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteFile</servlet-name>
		<url-pattern>/DeleteFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchType</servlet-name>
		<url-pattern>/SearchType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadFile</servlet-name>
		<url-pattern>/DownloadFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/Test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateDirServlet</servlet-name>
		<url-pattern>/CreateDirServlet</url-pattern>
	</servlet-mapping>
	 <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
